<div class="centered-content">
    <div class="product-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Menu
            </h1>
            <div class="menu">
                <a class="menu-item is-active" routerLink="/">
                    <p>Products</p>
                </a>
                <a *ngIf="checkRestockHistoryButton()" class="menu-item" routerLink="/restockhistory">
                    <p>Restock History</p>
                </a>
                <a class="menu-item" routerLink="/task-list">
                    <p>Tasks</p>
                </a>
            </div>
            <button class="button is-primary has-text-white" (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout</button>
        </div>

        <div class="product-list-header-container has-background-light">
            <button *ngIf="checkNewProductButton()" class="newProduct button is-primary is-medium has-text-white" routerLink="new-product">
                +New Product
            </button>
            <h1 class="title has-text-primary">
                Products
            </h1>
            <div class="field has-addons">
                <div class="control is-expanded">
                  <input #searchText class="input" type="text" placeholder="Find a product">
                </div>
                <div class="control">
                  <a class="button is-primary has-text-white" (click)="searchProducts(searchText.value)">
                    Search
                  </a>
                </div>
              </div>
              <div class="product-list-container">
                <div class="product" *ngFor="let product of products" [routerLink]="['/product-info',product.productID]">
                    <p>Product name:{{product.name}}</p>
                    <p>Number in stock:{{product.numberInStock}}</p>
                </div>
            </div>
            </div>
            
    </div>
</div>