<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Add new product
        </h1>
            <div class="control">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                      <input #newName class="input is-dark" type="text" placeholder="Name">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Category</label>
                    <div class="control">
                      <div class="select is-dark">
                        <select #newCategory>
                          <option>Computers & Office</option>
                          <option>Clothing</option>
                          <option>Health & Fitness</option>
                          <option>TV & audio</option>
                          <option>Home appliences</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field is-grouped">
                    <p class="control">
                        <label class="label">Length(cm)</label>
                      <input #newLength class="input is-dark" type="text" placeholder="Length(cm)">
                    </p>
                    <p class="control">
                        <label class="label">Height(cm)</label>
                        <input #newHeight class="input is-dark" type="text" placeholder="Height(cm)">
                    </p>
                    <p class="control">
                        <label class="label">Weight(kg)</label>
                        <input #newWeight class="input is-dark" type="text" placeholder="Weight(kg)">
                    </p>
                  </div>
                  <div class="field is-grouped">
                    <p class="control">
                        <label class="label">Price</label>
                      <input #newPrice class="input is-dark" type="text" placeholder="Price">
                    </p>
                    <p class="control">
                        <label class="label">Initial amount stocked</label>
                        <input #newAmountInStock class="input is-dark" type="text" placeholder="Amount stocked">
                    </p>
                  </div>
                  <div class="field is-grouped">
                    <p class="control">
                        <label class="label">Alley</label>
                      <input #newLocationAlley class="input is-dark" type="text" placeholder="Alley №">
                    </p>
                    <p class="control">
                        <label class="label">Section</label>
                        <input #newLocationSection class="input is-dark" type="text" placeholder="Section №">
                    </p>
                  </div>
                  <div class="buttons is-right">
                    <button class="button is-medium" routerLink="/">Cancel</button>
                    <button class="button is-primary has-text-white is-medium" (click)="createNewProduct(newCategory.value,newName.value,newLength.value,newHeight.value,newWeight.value,newPrice.value,newAmountInStock.value,newLocationAlley.value,newLocationSection.value)">Confirm</button>
                  </div>
                  
            </div>
    </div>
</div>
